*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #4A4A4A;
}

.page {
  min-height: 100svh;   /* лучше чем 100vh */
  padding-top: 4rem;    /* большой отступ сверху */
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  justify-content: center;
}

.welcome {
    margin-top: 1.3rem;
    background-color: #E67E22;
    width: 100%;
    max-width: 260px;
    border-radius: 24px;
    box-shadow:
        inset 0 0 0 1px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.08);
    max-height: 84px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome__title {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 1200;
}

.welcome__text {
  margin: 0;
  line-height: 1.5;
  font-weight: 600;
}

@media (min-width: 768px) {
  .page {
    padding-top: 6rem;
  }

  .welcome {
    padding: 2rem;
    border-radius: 20px;
  }

  .welcome__title {
    font-size: 1.75rem;
  }
}

