* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* чтобы body был высотой экрана */
}

main {
  width: 27vw;   /* 50% ширины окна */
  height: 30vh;  /* 50% высоты окна */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* чтобы видеть границы main */
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
