<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealHub</title>
    <link rel="stylesheet" href="../../static/app/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
</head>
<body>
<main class="page">
  <section class="welcome">
    <h1 class="welcome__title">Meal Hub</h1>
    <p class="welcome__text">
      Контроль питания учеников
    </p>
  </section>
  <section class="login_box">
    <h1 class="title_h1">Регистрация</h1>
    <form class="login__form" method="post">
        {% csrf_token %}
      <div class="fields">
        <label class="field">
          <span class="field__label">Email</span>
          <input class="field__input" type="email" name="email" value="{{ request.POST.email|default:'' }}"/>
        </label>

        <label class="field">
          <span class="field__label">Номер телефона</span>
          <input class="field__input" type="text" name="phone" value="{{ request.POST.phone|default:'' }}"/>
        </label>

        <label class="field">
          <span class="field__label">Пароль</span>
          <input class="field__input" type="password" name="password" value="{{ request.POST.password|default:'' }}"/>
        </label>

        <label class="field">
          <span class="field__label">Повторите пароль</span>
          <input class="field__input" type="password" name="password2" value="{{ request.POST.password2|default:'' }}"/>
        </label>

      </div>

      <label class="checkbox">
        <input class="checkbox__input" type="checkbox" />
        <span class="checkbox__text">
          Я согласен с условиями
        </span>
      </label>
        {% if form.error_messages %}
        <div class="alert alert-danger">
            <ul>
                <li>Форма неверна</li>

            </ul>
        </div>
    {% endif %}
    <button class="login_button" type="submit">
      Далее
    </button>
    </form>
  </section>

</main>

</body>
</html>